venv_melanoma_detection/
.ipynb_checkpoints/
dist/
build/
*.egg-info/
*.pyc
w210_ami_key.pem
__pycache__/
instance/
melanoma_detection/static/model.hdf5
melanoma_detection/static/preprocessor.pkl
models/
